.task-checked{
    text-decoration: line-through;
    color: green;
}

.borrar-fundo{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

.modal-container {
    width: 400px;
    padding: 10px;
    background-color: white;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    overflow: auto;
   
}

button{
    cursor: pointer;
}

.modal-container .conteudo-modal{
    display: flex;
    flex-direction: column;
    
}

.borrar-fundo.esconder,
.modal-container.esconder{
  display: none;
}
