@import url("https://fonts.googleapis.com/css2?family=Radio+Canada+Big:wght@400..700&display=swap");

body {
  max-width: 500px;
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    #042326,
    #0a3a40,
    #0f5959,
    #1d7373,
    #107361
  );
  display: flex;
  flex-direction: column;
  flex: 0% 1 0%;
  width: 100%;
  margin: 2rem auto;
  border-radius: 1rem;
}

.main-container {
  max-width: 600px;
  padding: 2rem;
  background-color: #f2e7dc;
  border-radius: 10px;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.507);
}

.cabecalho {
  padding: 10px 0;
  color: #023e73;
}

.tarefa-container {
  width: 100%;
  padding: 1em 0;
}

.criar-tarefa-container .tarefa-input {
  width: 320px;
  padding: 10px;
  outline: none;
  background-color: transparent;
  border: 1px solid #023e73;
  border-radius: 10px;
  font-weight: 500;
}

.criar-tarefa-container input::placeholder {
  color: #0d0d0d73;
}

.botao-adicionar {
  padding: 10px 8px;
  margin-left: 5px;
  background-color: #023e73;
  border: 1px solid #023e73;
  border-radius: 10px;
  color: #ebf0f2;
  transition: 0.7s ease-in-out;
}

.botao-adicionar:hover {
  background-color: #038c7f;
  border: 1px solid #038c7f;
}

button {
  cursor: pointer;
  border: none;
}

#resultado {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#resultado .tasks {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #023e73;
  display: flex;
  gap: 10px;
}

.tasks span {
  width: 100%;
  font-weight: 500;
}

.tasks .task-checked {
  text-decoration: line-through;
  color: #038c7f;
  transition: 1s ease-out;
}

.taskButtons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
}

.taskButtons button {
  background-color: transparent;
  font-size: 16px;
  margin-left: 15px;
}

.editButton {
  color: #027373;
}

.deleteButton {
  color: #d9184b;
}

.editButton:hover,
.deleteButton:hover {
  transform: scale(1.1);
  transition: 0.7s ease-out;
}

.borrar-fundo {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

footer{
  margin-top: 100%;
}

@media (max-width: 480px) {
  .main-container{
    max-width: 450px;
    margin: 0 auto;
  }

  .criar-tarefa-container .tarefa-input{
    width: 300px;
  }
}

@media (max-width: 420px) {

  .criar-tarefa-container .tarefa-input{
    width: 200px;
  }
}